<section class="DepartmentContent">
<div class="container full_width_cont no-gutter-xs">
<div class="col-xs-12">
<h2 class="h1 CenterAlign">Reliable, Fast & Honest Online Shopping Experience</h2>
<div id="showText">
<div class="row">
<div class="col-md-9 col-md-offset-2">
<div class="row">
<div class="col-xs-12 col-sm-6 col-md-6 inner">
<div class="icon "><i class="fa fa-check-circle-o"></i></div>
<div class="right">
<p class="heading"> On-Time & Secure Delivery at Your Door Step</p>
</div>
</div>
<div class="col-xs-12 col-sm-6 col-md-6 inner">
<div class="icon"> <i class="fa fa-check-circle-o"></i></div>
<div class="right">
<p class="heading">Easy & Painless Return & Exchange</p>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-12 col-sm-6 col-md-6 inner">
<div class="icon"> <i class="fa fa-check-circle-o"></i></div>
<div class="right">
<p class="heading"> Knowledgeable & Courteous Customer Service</p>
</div>
</div>
<div class="col-xs-12 col-sm-6 col-md-6 inner">
<div class="icon"> <i class="fa fa-check-circle-o"></i></div>
<div class="right">
<p class="heading">Get Unparalleled Product Support & Advice</p>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-12 col-sm-6 col-md-6 inner">
<div class="icon"> <i class="fa fa-check-circle-o"></i></div>
<div class="right">
<p class="heading">Lowest Price Guarantee on Original Products</p>
</div>
</div>
<div class="col-xs-12 col-sm-6 col-md-6 inner">
<div class="icon"> <i class="fa fa-check-circle-o"></i></div>
<div class="right">
<p class="heading">High Quality Products & Services</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>