<div class="full-width GBanner">
<div class="container home-block" >
<div class="" >
<div class="row NoPadding " >
<div class="col-sm-6 col-xs-12 ">
<div class="cwent">
<h2 class="greenLine">WHEY protein</h2>
<div class="Supp_green MDhidden PADhidden">
</div>
<p >Buy original & authentic brand name protein powder supplemets at the lowest possible price, only at Bargain.PK</p>
<a id="banner_1" href="body_building_fitness/protein_powder" class="border-radius">SHOP NOW</a>
</div>
</div>
<div class="col-sm-6 col-xs-12 ">
<div class="Supp_green SMhidden padtabletView">
</div>
</div>
</div>
</div>
</div>
</div>