<div class="full-width white-background">
<div class="home-block department-container" >
<div class="single" >
<h1 class="centerAlign">Enjoy Lowest Price Online Only at Bargain.pk</h1>
<p  class="centerAlign">Shop with Confidence! we offer amazing discounts on high quality products with our friendly customer service</p>
<div class="row NoPadding category_block_chunk" >


 <div class="col-sm-4 col-xs-12 DepartmentItem">
  <a href="nutrition">
   <img src="image/department/nutrition.jpg" alt="BODY BUILDING & FITNESS" class="img-responsive imgFullWidth">
  </a>
  <div class="DepartmentBlock-heading">
   <a href="nutrition">Nutrition Center</a>
   <p>Gain your maximum strength and live your healthy live.</p>
   <a href="nutrition" class="shopnow">SHOP NOW</a>
  </div>
 </div>

 <div class="col-sm-4 col-xs-12 DepartmentItem">
  <a href="graphic-tees">
   <img src="image/department/graphic-tees1.jpg" alt="Graphics Tees" class="img-responsive imgFullWidth">
  </a>
  <div class="DepartmentBlock-heading">
   <a href="graphic-tees">Graphic Tees</a>
   <p>Refresh your day with amazing designed and printed tshirts.</p>
   <a  href="graphic-tees" class="shopnow">SHOP NOW</a>

   </div>
 </div>
 <div class="col-sm-4 col-xs-12 DepartmentItem">
  <a href="uptown">
   <img src="image/department/uptown1.jpg" alt="Uptown" class="img-responsive imgFullWidth">
  </a>
  <div class="DepartmentBlock-heading">
   <a href="uptown">Carve - Uptown</a>
   <p>You deserve to have fun while working hard to achieve your best.</p>
   <a href="uptown" class="shopnow">SHOP NOW</a>


  </div>
 </div>


 <div class="col-sm-4 col-xs-12 DepartmentItem ">
  <a href="eminence">
   <img src="image/department/eminence1.jpg" alt="Uptown" class="img-responsive imgFullWidth">
  </a>
  <div class="DepartmentBlock-heading">
   <a href="eminence">Carve - Eminence</a>
   <p>An image that you always wanted inspiring the greatness within.</p>
   <a href="eminence" class="shopnow">SHOP NOW</a>
  </div>
 </div>
 <div class="col-sm-4 col-xs-12 DepartmentItem">
  <a href="ivory">
  <img src="image/department/ivory1.jpg" alt="Ivory" class="img-responsive imgFullWidth">
  </a>
   <div class="DepartmentBlock-heading">
   <a  href="ivory">Carve - Ivory</a>
   <p >Elegance which don't have any limit. as irresistible collection </p>
   <a href="ivory" class="shopnow">SHOP NOW</a>
  </div>
 </div>
<div class="col-sm-4 col-xs-12 DepartmentItem">
<a href="bargain">
 <img src="image/department/deal-center1.jpg" alt="Bargain Center" class="img-responsive imgFullWidth">
</a>
<div class="DepartmentBlock-heading">
<a href="bargain">Bargain Center</a>

 <p >Bargain bring value at your door step.</p>
 <a href="bargain" class="shopnow">SHOP NOW</a>
 </div>
</div>

 <div class="clearfix"></div>
</div>
</div>
 </div>
</div>
</div>