<div class="full-width" style="margin-top: 20px">
    <div class="container home-block">
        <h2 style="text-align: center;padding: 20px 0px;" > Relative Content</h2>
        <div class="contentBlockContainer">
            <div class="col-sm-3 col-xs-12">
                <div class="contentBlock">
                    <div id="bg" style="background:url('image/catalog/revslider_media_folder/slider-01.png') no-repeat"></div>
                    <div class="spacy">
                        <b>Glasses</b>
                        <p>Lorem ipsum dolor sit amet,est laborum</p>
                    </div>

                </div>
            </div>
            <div class="col-sm-3 col-xs-12">
                <div class="contentBlock">
                    <div id="bg" style="background:url('image/catalog/revslider_media_folder/slider-01.png') no-repeat"></div>
                    <div class="spacy">
                        <b>Glasses</b>
                        <p>Lorem ipsum dolor sit amet,est laborum</p>
                    </div>

                </div>
            </div>
            <div class="col-sm-3 col-xs-12">
                <div class="contentBlock">
                    <div id="bg" style="background:url('image/catalog/revslider_media_folder/slider-01.png') no-repeat"></div>
                    <div class="spacy">
                        <b>Glasses</b>
                        <p>Lorem ipsum dolor sit amet,est laborum</p>
                    </div>

                </div>
            </div>
            <div class="col-sm-3 col-xs-12">
                <div class="contentBlock">
                    <div id="bg" style="background:url('image/catalog/revslider_media_folder/slider-01.png') no-repeat"></div>
                    <div class="spacy">
                        <b>Glasses</b>
                        <p>Lorem ipsum dolor sit amet,est laborum</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="contentBlockContainer ">
            <div class="col-sm-3 col-xs-12">
                <div class="contentBlock">
                    <div id="bg" style="background:url('image/catalog/revslider_media_folder/slider-01.png') no-repeat"></div>
                    <div class="spacy">
                        <b>Glasses</b>
                        <p>Lorem ipsum dolor sit amet,est laborum</p>
                    </div>

                </div>
            </div>
            <div class="col-sm-3 col-xs-12">
                <div class="contentBlock">
                    <div id="bg" style="background:url('image/catalog/revslider_media_folder/slider-01.png') no-repeat"></div>
                    <div class="spacy">
                        <b>Glasses</b>
                        <p>Lorem ipsum dolor sit amet,est laborum</p>
                    </div>

                </div>
            </div>
            <div class="col-sm-3 col-xs-12">
                <div class="contentBlock">
                    <div id="bg" style="background:url('image/catalog/revslider_media_folder/slider-01.png') no-repeat"></div>
                    <div class="spacy">
                        <b>Glasses</b>
                        <p>Lorem ipsum dolor sit amet,est laborum</p>
                    </div>

                </div>
            </div>
            <div class="col-sm-3 col-xs-12">
                <div class="contentBlock">
                    <div id="bg" style="background:url('image/catalog/revslider_media_folder/slider-01.png') no-repeat"></div>
                    <div class="spacy">
                        <b>Glasses</b>
                        <p>Lorem ipsum dolor sit amet,est laborum</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>