<div class="full-width">
    <div class="container home-block" >
        <div class="single" >
            <h2 style="text-align: center">Graphic TeeShirt</h2>
            <div class="row NoPadding category_block" >
                <div class="col-sm-4 col-xs-12 ">
                    <img src="/image/catalog/tees/12.jpg" alt="Promotion offer" class="img-responsive">
                    <div class="">
                        <h4>Loreim Ipsum</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et q</p>
                        <a>SHOP NOW</a>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12 ">
                    <img src="/image/catalog/tees/12.jpg" alt="Promotion offer" class="img-responsive">
                    <div class="">
                        <h4>Loreim Ipsum</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et q</p>
                        <a>SHOP NOW</a>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12 ">
                    <img src="/image/catalog/tees/12.jpg" alt="Promotion offer" class="img-responsive">
                    <div class="">
                        <h4>Loreim Ipsum</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et q</p>
                        <a>SHOP NOW</a>
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>