<div class="full-width">
    <div class="container home-block" >
        <div class="single" >
            <h2 style="text-align: center">Shop By Solutions</h2>
            <div class="row NoPadding category_block" >
                <div class="col-sm-2 col-xs-6 ">
                    <div class="supplyBlock" >
                        <a href="shop-by-solution/body-building">
                        <img src="image/catalog/white-icon/mussals.png"   alt="Body Building">
                        </a>
                    </div>
                   
                    <h4 class="centerAlign"><a href="shop-by-solution/body-building">Body Building </a></h4>

                </div>
                <div class="col-sm-2 col-xs-6 ">
                    <div class="supplyBlock" >
                        <a href="shop-by-solution/sleep">
                            <img src="image/catalog/white-icon/sleep.png"   alt="Sleep">
                        </a>
                    </div>
                    <h4 class="centerAlign">
                        <a href="shop-by-solution/sleep">Sleep</a>
                    </h4>

                </div>
                <div class="col-sm-2 col-xs-6 ">
                    <div class="supplyBlock" >
                        <a  href="shop-by-solution/sport">
                        <img src="image/catalog/white-icon/shoes.png"   alt="Sports">
                        </a>
                    </div>
                    <h4 class="centerAlign"><a  href="shop-by-solution/sport"> Sports</a></h4>
                </div>

                <div class="col-sm-2 col-xs-6 ">
                    <div class="supplyBlock" >
                        <a href="shop-by-solution/fat-burning" >
                        <img src="image/catalog/white-icon/fat-burning.png"   alt="Fat Burning">
                        </a>
                    </div>
                   
                    <h4 class="centerAlign" ><a href="shop-by-solution/fat-burning" >Fat Burning</a></h4>

                </div>
               
                <div class="col-sm-2 col-xs-6 ">
                    <div class="supplyBlock" >
                        <a  href="shop-by-solution/immune">
                        <img src="image/catalog/white-icon/immune-support.png"   alt="Immune">
                        </a>
                    </div>
                   
                    <h4 class="centerAlign"><a  href="shop-by-solution/immune"  >Immune</a></h4>

                </div>

                <div class="col-sm-2 col-xs-6 ">
                    <div class="supplyBlock" >
                        <a href="shop-by-solution/heart-health">
                             <img src="image/catalog/white-icon/heart.png"   alt="Promotion offer">
                        </a>
                    </div>
                   
                    <h4 class="centerAlign"><a href="shop-by-solution/heart-health">Heart Health</a></h4>

                </div>
                <div class="clearfix"></div>
                <div class="col-sm-2 col-xs-6 ">
                    <div class="supplyBlock" >
                        <a href="shop-by-solution/joint-health" >
                        <img src="image/catalog/white-icon/joint-health.png"   alt="Joint Health">
                        </a>
                    </div>
                   
                    <h4 class="centerAlign" ><a href="shop-by-solution/joint-health" >Joint Health</a></h4>

                </div>
                <div class="col-sm-2 col-xs-6 ">
                    <div class="supplyBlock" >
                        <a href="shop-by-solution/men-health" >
                        <img src="image/catalog/white-icon/man-health.png"   alt="men health">
                        </a>
                    </div>
                   
                    <h4 class="centerAlign" ><a href="shop-by-solution/men-health" >Men Health</a></h4>

                </div>
               
                <div class="col-sm-2 col-xs-6 ">
                    <div class="supplyBlock" >
                        <a href="shop-by-solution/weight-management">
                            <img src="image/catalog/white-icon/reporting.png"   alt="Weight Management">
                        </a>

                    </div>

                    <h4 class="centerAlign"> <a href="shop-by-solution/weight-management">Weight Management</a></h4>

                </div>
                <div class="col-sm-2 col-xs-6 ">
                    <div class="supplyBlock" >
                        <a href="shop-by-solution/basic-fitness">
                        <img src="image/catalog/white-icon/scooty.png"   alt="Basic Fitness">
                        </a>
                    </div>
                   
                    <h4 class="centerAlign"><a href="shop-by-solution/basic-fitness">Basic Fitness</a></h4>

                </div>

                <div class="col-sm-2 col-xs-6 ">
                    <div class="supplyBlock" >
                        <a href="shop-by-solution/weight-gain">
                            <img src="image/catalog/white-icon/weight.png"   alt="Weight Gain">
                        </a>
                    </div>
                   
                    <h4 class="centerAlign" ><a href="shop-by-solution/weight-gain">Weight Gain</a></h4>

                </div>



                <div class="col-sm-2     col-xs-6 ">
                    <div class="supplyBlock" >
                        <a href="shop-by-solution/women-health">
                        <img src="image/catalog/white-icon/women-health.png"   alt="Women Health">
                        </a>
                    </div>
                   
                    <h4 class="centerAlign"><a href="shop-by-solution/women-health">Women Health</a></h4>

                </div>
                <div class="clearfix"></div>

            </div>
         </div>
    </div>
</div>