<div class="full-width" style="margin-top: 20px">
    <div class="container home-block" style=";margin-bottom: 20px; ">
        <div class="single" >
            <div class="row NoPadding category_block" >
                <div class="col-sm-6 col-xs-12 ">
                    <img src="image/banner/banner1.jpg" alt="Promotion offer" class="img-responsive"/>
                </div>
                <div class="col-sm-6 col-xs-12 ">
                    <img src="image/banner/banner2.jpg" alt="Promotion offer" class="img-responsive"/>
                </div>


            </div>


        </div>
        <div class="clearfix"></div>
    </div>
</div>