<div class="full-width top_bottom_margin">
<div class="container newsletter-block" style="">
<div class="single" >
<div class="col-sm-6 col-xs-12">
<div class="heading">Subscribe for Special Offers & Updates</div>
</div>
<div class="col-sm-6 col-xs-12">
<div class="input-group">
<input name="nutrition-newsletter" id="nutrition-newsletter"  data-tag="nutrition" type="email" class="form-control" placeholder="Enter your email address">
<span class="input-group-btn">
 <button class="btn-theme newsletter-button" type="button" data-bind="nutrition-newsletter" data-notifiction="noti">Subscribe</button>
 </span>
 <div class="clearfix"></div>


</div>

 <div class="input-group-adjacent">

 <div class="noti">
  <div class="abd-warning alert-danger"></div>
  <div class="abd-success alert-success"></div>
 </div>
</div>
</div>
</div>
<div class="clearfix"></div>
</div>
</div>