<div class="custom-curosel">
<div class="container">
    <h2 class="CenterAlign">{{ heading }}</h2>
<div class="owl-carousel owl-theme product-grid">
    {% for product in products %}
        <div class="item">
            {% include 'ceptz/template/item/product.twig' with product %}
        </div>
    {% endfor %}
</div>
</div>
</div>