<div class="product clearfix product-hover {% if right %} createrRight {% endif %} ">
 <div class="image image-swap-effect {{ (product.is_zoom) ? 'img-zoom-effect' : '' }} ">
     <a >
          <img src="{{ product.image }}" style="width: auto !important;" />
     </a>
 </div>
</div>
