{{ header }}
<div class="full-width">
    <div id="common-home" class="container">
        {{ content_top }}
    </div>
</div>
<div class="full-width">
    <div id="common-home" class="container">
        {% include 'ceptz/template/custom/carve/carve-message.twig'  %}
    </div>
    <div >
        {% include 'ceptz/template/custom/carve/carve-category.twig'  %}
        {% include 'ceptz/template/custom/carve/carve-products.twig'  %}
    </div>

    {% include 'ceptz/template/custom/carve/carve-message2.twig'  %}

</div>
</div>
{{ footer }}